@model IEnumerable<MvcPractice1.Models.Item>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>This is the Index action of the ItemController</h1>
    @*<ul>
        @foreach (Item item in Model)
        {
            <li>@item.ItemId</li>
            <li>@item.Description</li>
        }
    </ul>*@
    <table>
        <tr>
            <th>Item Id</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ItemId</td>
                <td>@item.Description</td>
            </tr>
        }
        </table>
</body>
</html>
